.title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #2e2e2e;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.title_more {
    padding-top: 102px;
    margin-bottom: 20px;
}
.title_agent {
    text-transform: none;
    text-decoration: none;
    margin-top: 20px;
    color: white;
}